---
import Layout from "../layouts/Layout.astro";
import LogoutButton from "../components/user/LogoutButton"
---

<Layout>
    <p>This is the learner page</p>
    <LogoutButton client:load></LogoutButton>
</Layout>